body {
 background-image: url(images.1/jk.png);
 background-repeat: no-repeat;
 background-size: 1520px 950px;
 background-color: #f90303;
 display: block;
}
hr {
    
}
/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0);
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }