body {
 background-image: url(images.1/jk.png);
 background-repeat: no-repeat;
 background-size: 1520px 950px;
 background-color: #f90303;
 display: block;
}
hr {
    
}
a span{
    background-color: #f9a303;
    border: 3px;
  }
/* unvisited link */
a:link {
    color: rgb(201, 10, 10);
  }
  
  /* visited link */
  a:visited {
    color: rgb(201, 10, 10);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* selected link */
  a:active {
    color: yellow;
  } p{
    background-color: #a83232
  }
 h1{
  background-color: #a83232;
  border: 3px solid #a83232;
  border-radius: 15px;
  border-width: 2px;
  padding: 5.5px;
 }